
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the user is the owner of the document
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Folders: Users can read all folders, but only create, update, and delete their own.
    match /folders/{folderId} {
      allow read: if true;
      allow create: if isOwner(request.resource.data.userId);
      allow update, delete: if isOwner(resource.data.userId);
    }

    // Vocabulary: Users can read all vocabulary, but only create, update, and delete their own.
    match /vocabulary/{vocabId} {
      allow read: if true;
      allow create: if isOwner(request.resource.data.userId);
      allow update, delete: if isOwner(resource.data.userId);
    }
  }
}
