name: Auto Deploy Local

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # QUAN TRỌNG NHẤT: Đổi thành self-hosted
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run Deploy Script
      # Chạy file deploy.sh bằng đường dẫn tuyệt đối
      run: |
        # Cấp quyền thực thi (cho chắc chắn)
        chmod +x /home/congnhat/english-app/English-App/deploy.sh

        # Chạy file deploy
        /home/congnhat/english-app/English-App/deploy.sh
